extends base

block emailContent
    p Hi there brandon,
    p This is a really simple email template. Its sole purpose is to get the recipient to click the button with no distractions.
    p Good luck! Hope it works.